spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/jobmarket}
    username: ${SPRING_DATASOURCE_USERNAME:jobmarket}
    password: ${SPRING_DATASOURCE_PASSWORD:jobmarket123}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  cors:
    allowed-origins: http://localhost:4200,http://frontend:80
